In [62]:
import pandas as pd
kidney_disease = pd.read_csv(r'Data/original_dataset.csv')
display(kidney_disease)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

# Rename columns

In [63]:
kidney_disease.columns = ['id', 'age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar',
       'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
       'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
       'potassium', 'blood_glucose_random.1', 'packed_cell_volume',
       'white_blood_cell_count', 'red_blood_cell_count', 'hypertension',
       'diabetes_mellitus', 'coronary_artery_disease', 'appetite',
       'peda_edema', 'aanemia', 'classification']

# Replace duplicates in boolean columns

In [64]:
boolean_columns = ['red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'peda_edema', 'aanemia', 'classification']
for column in boolean_columns:
    distinct_values =  kidney_disease[column].unique()
    has_null = kidney_disease[column].isnull().values.any()
    first_check = True
    while (not has_null and len(distinct_values) > 2) or len(distinct_values) > 3 :
        if first_check:
            print('\n' + column + ':')
            first_check = False
        else:
            print('Column not yet boolean, please retry\n')
        for value in distinct_values:
            if not pd.isna(value):
                is_replaced = input("\t- '" + value + "' : replace? (y/N)")
                if is_replaced == 'y':
                    replacement = input('\t  replace by: ')
                    kidney_disease[column] = kidney_disease[column].replace(value, replacement)
        distinct_values =  kidney_disease[column].unique()

print('\nBoolean columns now all contain only 2 distinct not-null values')

diabetes_mellitus:
	- 'yes' : replace? (y/N)n
	- 'no' : replace? (y/N)n
	- ' yes' : replace? (y/N)y
	  replace by: yes
	- '	no' : replace? (y/N)y
	  replace by: no
	- '	yes' : replace? (y/N)y
	  replace by: yes

coronary_artery_disease:
	- 'no' : replace? (y/N)n
	- 'yes' : replace? (y/N)n
	- '	no' : replace? (y/N)y
	  replace by: no

classification:
	- 'ckd' : replace? (y/N)n
	- 'ckd	' : replace? (y/N)y
	  replace by: ckd
	- 'notckd' : replace? (y/N)n

Boolean columns now all contain only 2 distinct not-null values

# Drop useless columns

In [ ]:
useless_columns = []
kidney_disease.drop(useless_columns, inplace=True, axis=1)

# Delete rows with missing necessary data

In [69]:
kidney_disease = kidney_disease[kidney_disease['serum_creatinine'].notnull()]

# Save clean dataset into csv file

In [71]:
kidney_disease.to_csv('Data/clean_dataset.csv', index=False)